@font-face
{
	font-family: myFirstFont;
	src: url('Sansation_Light.ttf'),url('Sansation_Light.eot'); /* IE9+ */
}

/* SLIDES */

.slideTitle {
	font-family: 'Donegal One', serif;
	text-align: right;
	font-size: 2em;
	margin-top: 20px;
}

/* TOOLTIP */
.tooltip{
    display: inline;
    position: relative;
	color: white;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

/* SOCIAL */
.twitterLink {
	background: url('../social/twitter.png') no-repeat;
	height: 30px;
	text-align: left;
	padding-left: 40px;
	color: black;
	line-height: 35px;
}

.twitterLink  > a {	
	color: black;
}

.twitterLink:hover {
	background: url('../social/color/twitter.png') no-repeat;
}

.githubLink {
	background: url('../social/github.png') no-repeat;
	height: 30px;
	text-align: left;
	padding-left: 40px;
	color: black;
	line-height: 35px;
}

.githubLink:hover {
	background: url('../social/color/github.png') no-repeat;
}

.githubLink > a {	
	color: black;
}

.linkedinLink {
	background: url('../social/linkedin.png') no-repeat;
	height: 30px;
	text-align: left;
	padding-left: 40px;
	color: black;
	line-height: 35px;
}

.linkedinLink:hover {
	background: url('../social/color/linkedin.png') no-repeat;
}

.linkedinLink > a {	
	color: black;
}

.mailLink {
	background: url('../social/digg.png') no-repeat;
	height: 30px;
	text-align: left;
	padding-left: 40px;
	color: black;
	margin-top: 40px;
}

.mailLink:hover {
	background: url('../social/color/digg.png') no-repeat;
}

.mailLink > a {	
	color: black;
}



.element {
	clear:both;	
	
	/*
	background-color: rgb(206, 224, 132);
	*/
	
	width: 800px;
	padding-top: 20px;
}

.button {
	float: left;
	background-color: rgb(139, 41, 41);
	color: white;
	width: 15%;
	height: 30px;
	align: center;
	text-align: center;
	/*
	font-family: 'Elsie', cursive;
	*/
	vertical-align: middle;
	line-height:30px;
	
	-moz-border-radius: 5px;
	border-radius: 5px;	
}

.clear {
	clear: both;
}
	
.contents {
	position: relative,	
	background-color: rgb(206, 224, 132);
	color: black;		
	display: none;
}

.contents ul {
	float: left;
	width: 20%;
	color: white;
}

.progress {
	float: left;
	margin-left: 20px;
	background-color: rgb(153, 121, 121);
	color: white;
	width: 75%;
	margin-top: 5px;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.insideProgress {
	float: left;
	background-color: rgb(138, 18, 18); 
	color: white;
	width: 500px;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	/*
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKElEQVQIW2O8Ihz8X+ftWkYGIACx4QywgAoXA6YASBlIBgR07nxjAACBsBHtBFrfIgAAAABJRU5ErkJggg==) repeat;
	*/
	
	/*
	background: -webkit-linear-gradient(top left, #f6a, #f66);
	background: -moz-linear-gradient(top left, #fff, #f66);
	background: -o-linear-gradient(top left, #fff, #f66);
	background: linear-gradient(top left, #fff, #f66);
	*/
}